@font-face {
    font-family: 'HBIOS-SYS';
    src: url('/font/HBIOS-SYS.ttf') format('truetype'),
    url('/font/HBIOS-SYS.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
body {
    background-color: rgb(70, 70, 70);
    font-family: 'HBIOS-SYS',sans-serif;
}